<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
        	'css/bootstrap.min.css'
    		'css/main.css'
   		 filter='cssrewrite' output='css/compiled/app.css' %}
    		<link rel="stylesheet" href="{{ asset_url }}" />
        {% endblock %}
        
    </head>
    <body>
        
        
     	{% block body %}
        
     	<header>
     	{% include('navbar.html.twig') %}
     	</header>
        
        {% endblock %}
        
        
        {% block javascripts %}
        	'js/jquery.min.js'
    		'js/bootstrap.min.js'
    		output='js/compiled/app.js' %}
    		<script src="{{ asset_url }}"></script>
        {% endblock %}
        
    </body>
</html>
